<section id="agencies">
	<div class="container">
		<h1 class="text-center">City Agencies that issue <br>Violations:</h1>
				<div class="row agency-row">
				<div class=" col-md-offset-1 col-md-2 text-center ">
					<img src="images/nyc-darkblue.png" alt="" >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-big-badge.png" alt="" >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-green-badge.png" alt="">
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-dot.png" alt=""  >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-light-blue.png" alt="">
				</div>
	</div>
	<div class="row ">
				<div class=" col-md-offset-1 col-md-2 text-center ">
					<p>DOB</p>
				</div>
				<div class="col-md-2 text-center">
					<p>FDNY</p>
				</div>
				<div class="col-md-2 text-center">
					<p>DSNY</p>
				</div>
				<div class="col-md-2 text-center">
				<p>DOT</p>
				</div>
				<div class="col-md-2 text-center">
					<p>DOHMH</p>
				</div>
	</div>

	<div class="row agency-row">
				<div class=" col-md-offset-1 col-md-2 text-center ">
					<img src="images/nyc-gradient.png" alt="" >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-black.png" alt="" >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-small-badge.png" alt="">
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-orange.png" alt=""  >
				</div>
				<div class="col-md-2 text-center">
					<img src="images/nyc-sms.png" alt="">
				</div>
	</div>
	<div class="row agency-row">
				<div class=" col-md-offset-1 col-md-2 text-center ">
					<p>DEP</p>
				</div>
				<div class="col-md-2 text-center">
					<p>LPC</p>
				</div>
				<div class="col-md-2 text-center">
					<p>NYPD</p>
				</div>
				<div class="col-md-2 text-center">
				<p>DoITT</p>
				</div>
				<div class="col-md-2 text-center">
					<p>SBS</p>
				</div>
	</div>

	<div class="row agency-row">
				<div class=" col-md-6 text-right ">
					<img src="images/nyc-leaf.png" alt="" >
				</div>
				<div class="col-md-6 text-left">
					<img src="images/nyc-red-slim.png" alt="" >
				</div>
				
	</div>
	<div class="row">
				<div class="  col-md-6 text-right ">
					<p>DEP</p>
				</div>
				<div class="col-md-6 text-left">
					<p>LPC</p>
				</div>
				
	</div>
</section>