<section id="agencies">
	<div class="container">
		<h1 class="text-center">City Agencies that issue <br>Violations:</h1>
		<div class="row agency-row">
			<div class=" col-md-offset-1 col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-darkblue.png" alt="" >
				</div>
				<p>DOB</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-big-badge.png" alt="" >
				</div>
				<p>FDNY</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-green-badge.png" alt="" >
				</div>
				<p>DSNY</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-dot.png" alt="" >
				</div>
				<p>DOT</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-light-blue.png" alt="" >
				</div>
				<p>DOHMH</p>
			</div>
		</div>
		<div class="row agency-row">
			<div class=" col-md-offset-1 col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-gradient.png" alt="" >
				</div>
				<p>DEP</p>
			</div>
			<div class="col-md-2 text-center nyc-black-img-col">
				<div class="agency-img">
					<img src="images/nyc-black.png" alt="" >
				</div>
				<p>LPC</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-small-badge.png" alt="" >
				</div>
				<p>NYPD</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-orange.png" alt="" >
				</div>
				<p>DoITT</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-sms.png" alt="" >
				</div>
				<p>SBS</p>
			</div>
		</div>
		<div class="row agency-row">
			<div class=" col-md-offset-4 col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-leaf.png" alt="" >
				</div>
				<p>DPR</p>
			</div>
			<div class="col-md-2 text-center">
				<div class="agency-img">
					<img src="images/nyc-red-slim.png" alt="" >
				</div>
				<p>BIC</p>
			</div>
			
		</div>
	</section>