<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-contact">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">

        <div class="vh-center">
          <div class="container">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="row">

              <div class="col-md-offset-2 col-md-8 col-xs-12">

               <h1 class="text-center">New York St, NY, 123 456 - <span>edit</span></h1>
               <p>Enter the details below to get the advice from your team</p>
               <div class="row mar-20 " >
                <div class="col-md-6 col-xs-12 enter-address">
                  <input type="text" placeholder="Name" >
                </div>
                <div class="col-md-6 col-xs-12">
                  <input type="text" placeholder="Phone" >
                </div>
              </div>
              <div class="row mar-20 " >
                <div class="col-md-6 col-xs-12 enter-address">
                  <input type="text" placeholder="Email">
                </div>
                <div class="col-md-6 col-xs-12">
                  <select name="cars">
                    <option value="Homeowner">Homeowner</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
              <hr class="hr-custom">
              <div class="row mar-20 " >
                <div class="col-md-6 col-xs-12 ">
                  <div class="violation-input">
                  <input type="text" placeholder="Violation Number"  class="mar-20 mar-small">
                  <input type="text" placeholder="Violation Number"    class="mar-20 mar-small">
                  
                  </div>
                  <p class="add-btn"><a href="#" class="btn"><span>+ </span>Add another</a></p>
                </div>
                <div class="col-md-6 col-xs-12 ">
                  <div class="drag_file text-center">
                    <i class="fa fa-upload fa-2x " aria-hidden="true"></i>
                    <p>Drag and drop here to <br>upload files</p>
                    <p>or browse</p>

                  </div>
                </div>
              </div>
              <div class="row mar-20 " >
                <div class="col-md-12 col-xs-12 text-center ">
                  <a href="" class="btn btn-default btn-home blue" >SEND</a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </div>

  </div>

</div>
</div>

</div>