<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 ">
        <h3 class="footer-1-heading">ECB Violations</h3>
        <p>Thinking about overseas adventure travel? Have you put any thought into the best places to go when it comes to overseas adventure travel? Nepal is one of </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1 col-xs-6">
        <ul>
          <li>Search</li>
          <li>FAQ</li>
          <li>Violations</li>
          <li>Agencies</li>
        </ul>
      </div>
       <div class="col-md-1"></div>
      <div class="col-md-1 col-xs-6">
        <ul>
          <li>Services</li>
          <li>Resources</li>
          <li>Glossary</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

  </div>

</footer>

