<section id="glossary">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<h1 class="text-center">Glossary</h1>
					<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include secondary_nav.html %}
<section id="glossary-content">
	<div class="container-fluid glossary-container">
		<div class="row">
			<div class="col-md-8 glossary-column">
				<div class="strike">
					<span class="alphabet-circle">S</span>
				</div>
				<h4><b>Stop Work Order</b></h4>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quas ipsam deserunt enim officia dolore adipisci commodi qui fugit, dolorum dolores accusamus incidunt ducimus dolor sequi veritatis soluta non repellendus.</span><span>Aliquid, porro! Et quae, natus, laboriosam voluptatibus itaque, placeat beatae eum magni corporis, eligendi est aspernatur. </span></p>
				<h4><b>Stop Work Order</b></h4>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quas ipsam deserunt enim officia dolore adipisci commodi qui fugit, dolorum dolores accusamus incidunt ducimus dolor sequi veritatis soluta non repellendus.</span><span>Aliquid, porro! Et quae, natus, laboriosam voluptatibus itaque, placeat beatae eum magni corporis, eligendi est aspernatur. </span></p>
				<div class="strike">
					<span class="alphabet-circle">T</span>
				</div>
				<h4><b>Stop Work Order</b></h4>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quas ipsam deserunt enim officia dolore adipisci commodi qui fugit, dolorum dolores accusamus incidunt ducimus dolor sequi veritatis soluta non repellendus.</span><span>Aliquid, porro! Et quae, natus, laboriosam voluptatibus itaque, placeat beatae eum magni corporis, eligendi est aspernatur. </span></p>
			</div>
			<hr class="visible-xs-block">
			<div class="col-md-4 col-xs-12 alphabets">
				<h4>GLOSSARY</h4>
				<ul>
					<li><a href="">A</a></li>
					<li><a href="">B</a></li>
					<li><a href="">C</a></li>
					<li><a href="">D</a></li>
					<li><a href="">E</a></li>
				</ul>
				<ul>
					<li><a href="">F</a></li>
					<li><a href="">G</a></li>
					<li><a href="">H</a></li>
					<li><a href="">I</a></li>
					<li><a href="">J</a></li>
				</ul>
				<ul>
					<li><a href="">K</a></li>
					<li><a href="">L</a></li>
					<li><a href="">M</a></li>
					<li><a href="">N</a></li>
					<li><a href="">O</a></li>
				</ul>
				<ul>
					<li><a href="">P</a></li>
					<li><a href="">Q</a></li>
					<li><a href="">R</a></li>
					<li><a href="">S</a></li>
					<li><a href="">T</a></li>
				</ul>
				<ul>
					<li><a href="">U</a></li>
					<li><a href="">V</a></li>
					<li><a href="">W</a></li>
					<li><a href="">X</a></li>
					<li><a href="">Y</a></li>
				</ul>
				<ul>
					<li><a href="">Z</a></li>
				</ul>
				<div class="links-heading">
					<h4>HELPFUL LINKS</h4>
				</div>
				<div class="links">
					<p>ECB Office Locations</p>
					<p>Understanding an ECB Violation</p>
					<p>EResponding to an ECB VIolation</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include support.html %}
{% include footer-1.html %}
{% include footer-2.html %}

