
<nav class="navbar transparent-nav ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span style="font-size:27px;"><span class="ecb-text"><b>ECB</b></span></span> <span class="violation-txt">Violations</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">Need Help?- <i class="fa fa-phone" aria-hidden="true"></i> <span class="landing-contact">212.571.3003</span></a></li>
            
          </ul>
        </div>
      </div>
    </nav>