<section id="landing">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-offset-2 col-md-8 col-xs-12">
					
					<h1 class="text-center">Search for Violation </h1>
					<p>Enter Your address below to search for violations</p>
					<div class="row mar-20 " >
						<div class="col-md-offset-1 col-md-7 col-xs-12 enter-address">
							<input type="text" placeholder="Enter Address"  id="usr">
						</div>
						<div class="col-md-3 col-xs-12">
							<input type="text" placeholder="Zipcode" id="usr">
						</div>
					</div>
					<div class="row ">
						<div class="col-md-offset-1 col-md-10 col-xs-12">
							<a href="" class="btn btn-default btn-home blue" >SEARCH</a>
							<span class="or-text">OR</span>
							<a href="" class="btn btn-default btn-home pull-right green" >GET ADVICE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>