<section id="landing">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid container-landing">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 col-xs-12">
					<h1 class="text-center">Search for Violation </h1>
					<p>Enter Your address below to search for violations</p>
					<div class="row mar-20 " >
						<div class="col-md-offset-1 col-md-4 col-xs-12 col-sm-6 enter-address">
							<select name="borough" id="borough-select">
								<option value="borough">Pick a Borough</option>
								<option value="1">Manhattan</option>
								<option value="2">Bronx</option>
								<option value="2">Brooklyn</option>
								<option value="4">Queens</option>
							</select>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-6 enter-address">
							<input type="text" placeholder="House No"  id="house-no">
						</div>
						<div class="col-md-3 col-xs-12 col-sm-6">
							<input type="text" placeholder="Street" id="street">
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-1 col-md-10 col-xs-12">
							<a href="#" class="btn btn-default btn-home blue search" >SEARCH</a>
							<span class="or-text">OR</span>
							<a href="" class="btn btn-default btn-home pull-right green" >GET ADVICE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>