<section id="questions">
	<h1 class="text-center ">Most common Questions</h1>
	<div class="container">
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>What is ECB ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Navigating ECB Hearings ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>What is ECB ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Navigating ECB Hearings ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>What is ECB ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Navigating ECB Hearings ?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>Reducing Violation Penalties?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Dismissing Violation Penalties?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>

	</div>
</section>
