<section id="resources">
	{% include header.html %}
	<div class="vh-center">
		<div class="row">
			
		<div class="col-md-offset-2 col-md-8">
			
		<h1 class="text-center">Resources</h1>
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
		
		</div>
		</div>
	
	
</section>
{% include secondary_nav.html %}
<section id="resources-content">
	<div class="container-fluid resources-container">
	<div class="row">
		<div class="col-md-8 office-locations">
			
			<h3>Office Locations</h3>
			<p><b>Manhattan</b></p>
			<img src="../images/map.jpg" alt="" class="img-responsive">
			

			<p class="address">66John Street, 10th Floor New York, NY 10038</h3>
			<p>Tel: 1-844-OATH-NYC(1-844-628-4692)</p>
			<p>Fax: (212)361-1900</p>
			<p><b>Hours:</b></p>
			<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
			<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
			<hr>

			<p><b>Brooklyn</b></p>
			<img src="../images/map.jpg" alt="" class="img-responsive">
			

			<p class="address">66John Street, 10th Floor New York, NY 10038</h3>
			<p>Tel: 1-844-OATH-NYC(1-844-628-4692)</p>
			<p>Fax: (212)361-1900</p>
			<p><b>Hours:</b></p>
			<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
			<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
		</div>


		<div class="col-md-4 alphabets">
			<div class="resources-links">
				<h4>RESOURCES</h4>
				<p>How to pay an ECB Penality?</p>
				<p>How to Reopen a Default?</p>
				<p>Scheduling Inspection</p>
				<p>Curable Violations</p>
				<p>NYC ECB Locations</p>
				<p>ECB Tribunal Data</p>
			</div>
				
				<div class="resources-links links">
				<h4>HELPFUL LINKS</h4>
				
				<!-- <div class="links"> -->
				<p>ECB Office Locations</p>
				<p>Understanding an ECB Violation</p>
				<p>EResponding to an ECB VIolation</p>
				</div>

		</div>

	</div>
	</div>
	
</section>
{% include support.html %}
{% include footer-1.html %}
{% include footer-2.html %}

