<section id="resources">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<h1 class="text-center">Resources</h1>
					<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
			</div>
		</div>
	</section>
	{% include secondary_nav.html %}
	<section id="resources-content">
		<div class="container-fluid resources-container">
			<div class="row">
				<div class="col-md-8 col-xs-11 col-sm-12 office-locations">
					<h3>Office Locations</h3>
					<p><b>Manhattan</b></p>
					<img src="../images/map.jpg" alt="" class="img-responsive">
					<p class="address">66John Street, 10th Floor New York, NY 10038</h3>
						<p>Tel: 1-844-OATH-NYC(1-844-628-4692)</p>
						<p>Fax: (212)361-1900</p>
						<p><b>Hours:</b></p>
						<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
						<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
						<hr>
						<p><b>Brooklyn</b></p>
						<img src="../images/map.jpg" alt="" class="img-responsive">
						<p class="address">66John Street, 10th Floor New York, NY 10038</h3>
							<p>Tel: 1-844-OATH-NYC(1-844-628-4692)</p>
							<p>Fax: (212)361-1900</p>
							<p><b>Hours:</b></p>
							<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
							<p>For Hearings, Monday to Friday, 8:00 am to 9:00 pm</p>
						</div>
						<div class="col-md-4 alphabets">
							<div class="resources-links">
								<h4>RESOURCES</h4>
								<p><a href="">How to pay an ECB Penality?</a></p>
								<p><a href="">How to Reopen a Default?</a></p>
								<p><a href="">Scheduling Inspection</a></p>
								<p><a href="">Curable Violations</a></p>
								<p><a href="">NYC ECB Locations</a></p>
								<p><a href="">ECB Tribunal Data</a></p>
							</div>
							<div class="resources-links links">
								<h4>HELPFUL LINKS</h4>
								<p><a href="">ECB Office Locations</a></p>
								<p><a href="">Understanding an ECB Violation</a></p>
								<p><a href="">EResponding to an ECB VIolation</a></p>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include support.html %}
			{% include footer-1.html %}
			{% include footer-2.html %}

