<section id="secondary-nav">
  <nav class="navbar navbar-default second-nav" data-spy="affix" data-offset-top="197" >
    <div class="container">
      <div class="carrot">
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-2" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{site.baseurl }}/#landing">SEARCH</a></li>
          <li><a href="{{site.baseurl }}/#questions">FAQ</a></li>
          <li><a href="{{site.baseurl }}/#violation">VIOLATIONS</a></li>
          <li><a href="{{site.baseurl }}/#agencies">AGENCIES</a></li>
          <li><a href="{{site.baseurl }}/#services">SERVICES</a></li>
          <li><a href="{{ "/resources" | prepend: site.baseurl }}">RESOURCES</a></li>
          <li><a href="{{site.baseurl }}/glossary">GLOSSARY</a></li>
          <li><a href=""  data-toggle="modal" data-target="#myModal" >CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>

