<section id="secondary-nav">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">SEARCH</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">VIOLATIONS</a></li>
              <li><a href="#">AGENCIES</a></li>
              <li><a href="#">SERVICES</a></li>
              <li><a href="#">RESOURCES</a></li>
              <li><a href="#">GLOSSARY</a></li>
              <li><a href="#">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </nav>
</section>