<section id="violation">
	<div class="container">
		<h1 class="text-center">Types of violation</h1>
		<p class="text-center">Thinking about overseas adventure travel? Have you</p>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<ul class="text-center">
						<li><a href="" class="btn violation-btn">ECB Violation</a></li>
						<li><a href="" class="btn violation-btn">DOB Violation</a></li>
						<li><a href="" class="btn violation-btn">Boiler Violation</a></li>
					</ul>
					<ul class="text-center" >
						<li><a href="" class="btn violation-btn">Elevator Violation</a></li>
						<li><a href="" class="btn violation-btn">HPD Violation</a></li>
						<li><a href="" class="btn violation-btn">Stop Work Order</a></li>
					</ul>
					<ul class="text-center">
						<li><a href="" class="btn violation-btn">Work Without a Permit</a></li>
						<li><a href="" class="btn violation-btn">Sidewalk Violation</a></li>
					</ul>
				<!-- <div class="col-md-4 violation-col">
					
				</div>
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
			<div class="row" class="violation-row">
				<div class="col-md-4 violation-col">
					<a href="" class="btn violation-btn">Elevator Violation</a>
				</div>
				<div class="col-md-4">
					<a href="" class="btn violation-btn">HPD Violation</a>
				</div>
				<div class="col-md-4">
					<a href="" class="btn violation-btn">Stop Work Order</a>
				</div>
			</div>
			<div class="row" class="violation-row">
				<div class="col-md-6 violation-col">
					<a href="" class="btn violation-btn">Work Without a Permit</a>
				</div>
				<div class="col-md-6">
					<a href="" class="btn violation-btn">Sidewalk Violation</a>
				</div> -->
				
			</div>
		</div>
		</div>
	</div>
</section>