<section id="violation">
	<div class="container">
		<h1 class="text-center">Types of Violation</h1>
		<p class="text-center">Thinking about overseas adventure travel? Have you</p>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="row">
					<ul class="text-center">
						<li><a href="" class="btn violation-btn">ECB Violation</a></li>
						<li><a href="" class="btn violation-btn">DOB Violation</a></li>
						<li><a href="" class="btn violation-btn">Boiler Violation</a></li>
					</ul>
					<ul class="text-center" >
						<li><a href="" class="btn violation-btn">Elevator Violation</a></li>
						<li><a href="" class="btn violation-btn">HPD Violation</a></li>
						<li><a href="" class="btn violation-btn">Stop Work Order</a></li>
					</ul>
					<ul class="text-center">
						<li><a href="" class="btn violation-btn permit-btn">Work Without a Permit</a></li>
						<li><a href="" class="btn violation-btn">Sidewalk Violation</a></li>
					</ul>
				
			</div>
		</div>
		</div>
	</div>
</section>