#footer {
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	
	background-color:#1D3553;
	padding:60px 0px;
	font-size:19px;

	p{
		color: #4E6178;
		line-height: 20px;
	}
	ul{
	list-style: none;
}

.secondary-footer {
	background-color: #162436;
}
}