#footer-2 {
	font-family: 'Open Sans', sans-serif;
	padding:30px 0;
	background-color: #162436;
	.help-text {
		font-size:20px;
		color:#6b7073;
		letter-spacing: 2px;
	}

	.contact {
		font-size:25px;
		color:$white;
		letter-spacing: 2px;
	}

	.copyright {
		font-size:20px;
		color:#6b7073;
	}
}
@media only screen and (max-width: 480px) {
	#footer-2 {
		.help-text {
			font-size:14px;
			color:#6b7073;
			letter-spacing: 1px;
		}

		.contact {
			font-size:14px;
			color:$white;
			letter-spacing: 1px;
		}

		.copyright {
			font-size: 15px;
			color: #6b7073;
			margin-top: -1px;
		}
	}
	
}