#footer-2 {
	padding:30px 0;
	background-color: #162436;
	.help-text {
		font-size:20px;
		color:#6b7073;
	}

	.contact {
		font-size:15px;
		color:#fff;
	}

	.copyright {
		font-size:20px;
		color:#6b7073;
	}
}