.transparent-nav {
	a {
		color: $white;
		text-decoration: none;
		padding-top:41px;

		&:hover {
			color: $white;
			background-color:transparent;
		}
	}

	.navbar-nav {
		li {
			color: $white;
			text-decoration: none;
			padding-top:30px;
			letter-spacing:1px;
			font-size:26px;

			a {

				&:hover, &:active, &:focus {
					color: $white;
					background-color: transparent;
				}

				i{
					margin-left:10px;
				}
			}
		}
	}
	.violation-txt {
		font-size: 24px;
	}
}

.landing-contact{
	font-size: 26px;
}


	@media only screen and (max-width: 480px) {
		.transparent-nav {

			a {
		
		padding-top:10px;

	}
			.ecb-text {
				font-size: 20px;
			}
			.violation-txt {
				font-size: 20px;
			}


		}
	}