#landing {
	background-image: url('../images/background-hero.png');
	background-size: cover;
	background-position: 21% ;
	height: 100vh;
	color: #fff;
	position: relative;

	.vh-center {
		position:relative;
		top:10%;
		h1 {
			letter-spacing: 10px;
			font-size: 55px;
			margin-bottom:15px;
		}
		p{
			font-size: 20px;
			text-align: center;
			margin-bottom:45px;
		}
	}

	#usr {
		
		border-radius: 0;
		background-color: $gray;
		border-color:$gray;
		width: 100%;
		padding: 25px;
		display:inline-block;

	}

	.btn-home {
		padding:25px 20px;
		border-radius:0px;
		width:45%;
		display: inline-block;
		font-size:19px;
		letter-spacing: 5px;
		font-weight: bold;
	}

	.or-text {
		position: relative;
		left: 22px;
		font-size: 19px;
		font-weight: bold;
	}

	.green {
		background-color: $green;
		color: $white;
		border-color: $green;
	}

	.blue {
		background-color: $blue;
		color: $white;
		border-color: $blue;
	}

	.mar-20 {
		margin-bottom: 35px;
	}

}