#resources {
	background-image: url('../images/background-hero.png');
	background-size: cover;
	background-position: 21% ;
	height: 53vh;
	color: $white;
	position: relative;

	.vh-center {
		position:relative;
		top:10%;
		h1 {
		letter-spacing: 4px;
    font-size: 64px;
    margin-bottom: 15px;
		}

		p{
			font-size: 20px;
			letter-spacing: 1px;
		}
		
	}
}


#resources-content  {
	font-family: 'Open Sans', sans-serif;

	h3{
		font-weight: 300;
	}
	.resources-container {
		margin-left:119px;
	}

	.office-locations {
		padding:40px 0;
	}

	.resources-links {
		padding: 40px 0 40px 62px;
	}
	img {
		margin-bottom :50px;
	}

	.address{
		margin-bottom:30px;
	}

	/*h4{
		margin-top: 40px;
		margin-bottom: 30px;
		
	}*/
p{
	line-height: 30px;
	font-size: 15px;
	
}
.alphabets {
	
	padding-left:0;

	ul{
		list-style: none;
		margin-bottom:20px;



		li {
			display:inline-block;
			background-color: #F1F8FE;
			width:50px;
			text-align: center;
			height:50px;
			padding-top:16px;
			margin-right:10px;

		}
	}
}
.links-heading {
	border-top: 1px solid #dadada;
}
.links {
	border-top: 1px solid #dadada;
}

.office-locations {
	border-right:1px solid #dadada;
	height:250vh;
}
}