#secondary-nav {
	border-bottom: 1px solid #dadada;
	padding:15px 0 0 0; 

	.navbar {
			margin-bottom:12px;
	}
	
	ul {
	
		li {
			a {
				padding-right: 37px;
				font-size:17px;
				letter-spacing: 1px;
			}
			&.active {
				a {

					background-color: transparent;
					color:$blue;
				}
			}
		}
	}

	.navbar-default {
		background-color:$white;
		border-color: transparent;
	}
}