#secondary-nav {
	.navbar {
		margin-bottom:12px;
	}
	
	ul {
		
		li {
			a {
				padding-right: 37px;
				font-size:17px;
				letter-spacing: 1px;
			}
			&.active {
				a {

					background-color: transparent;
					color:$blue;
					

				}
			}
		}
	}

	.navbar-default {
		background-color:$white;
		border-top:0;
		padding-bottom:14px;
	}

	.affix {
		top:0;
		width: 100%;
		z-index: 9999 !important;
		padding-top: 12px;
		padding-bottom: 9px;
	}

	.carrot{
		
	}
}


