#services{
	
	background-color: #F1F8FE;
	padding:60px 0;
	h1{
	
	margin-bottom: 70px;
	font-weight: 300;
	}
	span {
		font-size:20px;
		margin-bottom:20px;
		letter-spacing: 3px;
		color:#7b7676;
		font-weight: 300;
	}
	p{
		line-height: 20px;
		letter-spacing: 2px;
		margin-top: 18px;
		color:#7b7676;;
	}
	i{
		color:$blue;
		position:relative;
		top:-18px;
		font-size: 22px;
	}

	.service-row {
		margin-bottom:50px;
	}

	.secondary-footer {
		background-color: #162436;
	}
}

	@media only screen and (max-width: 768px) {
		#services {

			i{
				position:relative;
				top:6px;
			}
		}

	}