#support {
	background-color:$blue;
	color:#fff;
	padding:25px 0px;

	.support-btn {
	padding:15px 55px;
	background-color: #40334E;
	color:#fff;
	text-transform: uppercase;
	border-radius:0px;
	display: inline-block;
	}
}